@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap";

:root {
  --blue: #21cfcb;
  --dark-blue: #191a1f;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
}

::selection {
  background: var(--dark-blue);
  color: #fff;
}

html {
  font-size: 52.5%;
  overflow-x: hidden;
}

section {
  min-height: 70vh;
  padding: 7rem 10%;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 50px;
}

.logo a {
  font-size: 1.9rem;
  font-weight: 550;
  color: var(--dark-blue);
}

header .navbar a {
  font-size: 1.7rem;
  margin-left: 0.7rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  color: var(--dark-blue);
}

header .navbar a:hover {
  color: var(--blue);
}

header.sticky {
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

#menu {
  font-size: 4rem;
  color: var(--blue);
  cursor: pointer;
  display: none;
}

.home {
  background: url(./images/background-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  gap: 1rem;
  overflow: hidden;
}

.home .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30rem;
  flex: 1 1 30rem;
}

.home .content span {
  color: var(--blue);
}

.home .content h2 span {
  font-size: larger;
}

.home .content h3 {
  margin-top: 30%;
  font-size: 4rem;
  color: #130f40;
  padding: 2rem 0;
  font-weight: 900;
}

.home .content p {
  font-size: 1.6rem;
  color: #666;
  line-height: 2;
  padding: 2rem 0;
}

.home .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 41rem;
  flex: 1 1 50rem;
  pointer-events: none;
  margin-top: 80px;
}

.home .container {
  display: flex;
  flex-wrap: wrap;
}

.home .container .column-1 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-top: 70px;
}

.column-1 img:first-child {
  width: auto;
  border-radius: 10px;
  height: 200px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.column-1 img:last-child {
  margin-top: 20px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 61%;
  left: 54.2%;
  transform: translateX(-50%);
  z-index: 1;
}

.column-2 {
  flex: 2;
}

.column-2 img {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  margin-top: 45px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.form {
  margin-bottom: 25px;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}

.form__email {
  padding: 12px 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 250px;
  font-size: 12px;
  font-weight: 200;
  color: #0f121f;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.212);
  margin-bottom: 10px;
}

.form__email:focus {
  outline: 1px solid var(--blue);
}

.btn {
  background-color: #000;
  border-radius: 5px;
  font-size: 1.7rem;
  cursor: pointer;
  color: #ffffff;
  padding: 11px 40px;
  text-decoration: none;
  box-sizing: content-box;
  margin-bottom: 10px;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  color: #130f40;
  margin-top: 3rem;
  font-weight: bold;
}

.heading span {
  color: var(--main-color);
}

.heading-text {
  text-align: center;
  font-size: 1.4rem;
  color: #666;
}

.communities {
  position: relative;
}

.communities .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.communities .box-container .box {
  flex: 1 1 20rem;
  border-radius: 0.5rem;
  margin: 1rem;
  text-align: center;
}

.communities .box-container .box img {
  height: 12rem;
  padding: 1rem;
}

.numbers {
  background: linear-gradient(rgba(0, 0, 0, 0.899), rgba(0, 0, 0, 0.824)),
    url(./images/bg-img.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.numbers h3 {
  color: var(--blue);
}

.numbers p {
  color: rgb(235, 234, 234);
}

.numbers .box-container {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.numbers .box-container .box {
  margin: 1.5rem;
  color: #fff;
  text-align: center;
  padding: 18px 28px;
}

.numbers .box-container .box:hover {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #fff;
  color: #000;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.numbers .box-container .box .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.numbers .box-container .box i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 10px;
  margin-right: 20px;
}

.numbers .box-container .box:hover i {
  color: #fff;
  background-color: #000;
}

.numbers .box-container .box h2 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 300;
}

.numbers .box-container .box h1 {
  font-weight: 200;
}

.numbers .box-container .box .share {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-top: 1rem;
}

.numbers .box-container .box .share a {
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  margin: 0.4rem;
  background: #eee;
  color: var(--blue);
}

.numbers .box-container .box .share a:hover {
  background: var(--blue);
  color: #fff;
  transform: rotate(360deg);
}

.plans {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 1rem;
  overflow: hidden;
}

.plans .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.plans .content span {
  color: var(--blue);
}

.plans .content h3 {
  font-size: 4rem;
  color: #130f40;
  padding-top: 1rem;
  font-weight: 900;
}

.plans .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
  margin-bottom: 40px;
}

.plans .content .btn {
  background-color: var(--blue);
  color: #000;
  font-weight: 600;
}

.plans .content .container img {
  margin-top: 8rem;
  height: 30px;
}

.plans .image {
  flex: 1;
  pointer-events: none;
  margin-top: 80px;
}

.plans .image img {
  width: 100%;
  height: auto;
  flex: 1;
}

.review {
  background-color: #dff8f7;
  position: relative;
}

.review .container {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-column {
  flex-basis: 100%;
  margin: 20px 0;
}

.review .container .left-column img {
  width: 40%;
  max-height: 70%;
  height: auto;
  position: absolute;
  top: 200px;
  left: 0;
  z-index: 1;
  margin-top: 20px;
}

.review .container h3 {
  font-size: 3rem;
  color: #130f40;
  margin-left: 40%;
  margin-right: 20%;
  margin-bottom: 50px;
}

.review .container span {
  color: var(--blue);
}

.right-column {
  flex-basis: 100%;
}

.columns-container {
  width: 100%;
  display: flex;
}

.column1 {
  flex-basis: 50%;
}

.column2 {
  flex-basis: 50%;
}

.reviews {
  display: flex;
}

.review {
  flex-basis: calc(80% - 15px);
  margin-bottom: 20px;
  padding: 20px;
  font-size: 1.2rem;
  position: relative;
}

.reviews p {
  font-weight: 200;
}

.reviews .rating {
  font-size: 12px;
  margin-bottom: 10px;
  color: #dfd000;
}

.name {
  font-weight: bold;
  margin-top: 10px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contact .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.contact .content {
  flex: 1;
  max-width: 500px;
  padding: 0 20px;
}

.contact .content span {
  color: var(--blue);
}

.contact .content h3 {
  font-size: 3rem;
  color: #130f40;
  padding-top: 1rem;
  font-weight: 900 !important;
}

.contact .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
}

.contact .image {
  position: absolute;
  top: 40%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 2;
}

.contact img {
  height: 540px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #121319;
  padding: 20px;
  color: #ccc;
  font-size: 1.5em;
  position: relative;
}

.column-right {
  display: flex;
  flex-direction: row;
}

.navigation {
  margin-right: 90px;
}

footer .container {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
}

footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .column {
  flex-basis: 35%;
}

footer .column p {
  padding: 8px 0;
}

footer .column h4 {
  color: var(--blue);
}

footer .logo a {
  color: #ffffff;
}

footer .social a {
  display: inline-block;
  margin-left: 10px;
}

footer .social a img {
  height: 40px;
  width: auto;
}

footer ul {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  font-size: 1em;
  color: #ccc;
  font-weight: 300;
}

footer hr {
  margin: 15px 0;
  border: none;
  border-bottom: 0.2px solid #f5f5f571;
}

footer .copyright p {
  font-weight: 300;
}

#resite {
  color: var(--blue);
}

.copyright1,
.copyright2 {
  font-size: 10px;
}

.copyright1 {
  color: var(--blue);
}

.scroll-top {
  position: fixed;
  bottom: 7.5rem;
  right: 5rem;
  z-index: 1000;
}

.scroll-top i {
  font-size: 24px;
  color: var(--blue);
}

@keyframes float {
  100%,
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-3rem);
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .home .image {
    display: none;
  }

  .contact .container {
    flex-direction: column;
  }

  .contact .content .form {
    max-width: 100%;
    padding-right: 0;
    text-align: center;
    align-items: center;
  }

  .contact .content p {
    padding: 1rem 0;
  }

  .contact img {
    display: none;
  }
}

@media (max-width: 991px) {
  /* Tablet */
  section {
    padding: 2rem 3%;
    padding-top: 8rem;
  }

  #menu {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
  }

  header .navbar.nav-toggle {
    transform: scaleY(1);
    opacity: 1;
  }

  header .navbar a {
    display: block;
    margin: 1.5rem 0;
    font-size: 2rem;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  .home .image {
    display: none;
  }
}

@media (max-width: 768px) {
  /* Mobile */
  html {
    font-size: 50%;
  }

  section {
    padding-bottom: 80px;
    padding-top: 90px;
  }

  .home .image {
    display: none;
  }

  .home .content {
    text-align: center;
    padding-top: 50px;
  }

  .content h1 {
    font-size: 4rem;
  }

  .content h3 {
    font-size: 3.5rem;
  }

  .contact img {
    display: none;
  }

  .form {
    justify-content: center;
  }

  .plans {
    flex-direction: column;
    text-align: center;
  }

  .plans .image {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .plans .image img {
    height: 50%;
  }

  .plans .content {
    flex-direction: column;
  }

  .plans .content .btn {
    margin-top: 2rem;
  }

  .plans .content .container img {
    margin-top: 4rem;
  }

  .review .container .left-column img {
    display: none;
  }

  .review .container h3 {
    justify-content: center;
  }

  footer .row {
    display: flex;
    flex-wrap: wrap;
  }

  footer .social {
    margin-top: 10px;
  }
}

@media (max-width: 450px) {
  /* Extra small mobile */
  .content h1 {
    font-size: 3.5rem;
  }

  .content h3 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  /* Desktop and tablet landscape */
  .review .left-column {
    flex-basis: calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 0;
  }

  .review .right-column {
    flex-basis: calc(50% - 10px);
  }

  .review .columns-container {
    flex-direction: row;
  }

  .review .column {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .review .column:first-child {
    margin-right: 20px;
  }
}
